body {
    background-color: powderblue;
}
div{
    text-align: center;
    float: left;
    position: relative;
    width: 100%;
}

input{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 0.5%;
    margin-top: 2px;
    margin-right: 2px;
    font-family: monospace;
    letter-spacing: 8px;
    border: 1px solid #000;
    background-repeat: repeat-x;
}
button{
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
    width: 0.5%;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    /*background-repeat: repeat-x;*/
}
button[id='מחיקה']{
    width:15%;
}

div[class='key_board']{
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
}
button[id='sent']{
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
}