body {
    background-color: powderblue;
}
div{
    text-align: center;
    float: left;
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

input{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: darkblue;
    width: 10%;
    margin-top: 2px;
    margin-right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    border: 1px solid #000;
    background-repeat: repeat-x;
}
button{
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
    width: 0.5%;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
}
button[id='מחיקה']{
    width:15%;
}

.div[class='key_board']{
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
}
button[id='sent']{
    width: 100%;
}
div[class='header']{
    padding: 5px;
    font-size: 40px;
    color: black;
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
}
div[id='message']{
    margin-top: 20%;
}
body{
    background: url("https://c0.wallpaperflare.com/preview/795/151/722/alphabet-close-up-game-glass.jpg");
}
